<div class="container-fluid card p-5 mt-5 text-center">
    <h1 class="text-danger text-center">{{error.status}} {{message}} <a href="/" class=""><h3 class="text-primary">Back to Home</h3></a></h1>
    <hr>
    <pre>{{error.stack}}</pre>
</div>