<!-- Back to Top -->
<a href="#" class="d-none d-md-flex btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

{{!-- <div class=" d-inline-flex flex-row justify-content-around d-md-none btn-group position-fixed bottom-0 bg-body-tertiary w-100 py-2">
  <button type="button" class="btn btn-primary d-flex">
    <i class="fa fa-plus"></i>
  </button>
  <form action="" class="d-flex ">
    <input type="search" name="search" placeholder="Search..." id="" class="form-control me-2">
  </form>
</div> --}}