<div class="card rounded d-flex flex-md-row flex-sm-column w-100 justify-content-center me-1">
    <div class="input-group p-1">
        <span class="input-group-text">Year</span>
        <input class="form-control" type="number" placeholder="Year" name="year" value="{{year}}">
        <input class="btn btn-outline-primary" type="submit" value="Search" placeholder="Search">
    </div>
</div>