<li><a href="/" class="nav-item nav-link dashboard">Monthly Report</a></li>
<li><a href="/annualreport" class="nav-item nav-link annualreport">Annual Report</a></li>
<li><a href="/updateprice" class="nav-item nav-link updateprice">Update Price</a></li>
<li><a href="/searchbooking" class="nav-item nav-link searchbooking ">Search Booking</a></li>